/jinx
/builds
/host-builds
/host-pkgs
/pkgs
/sources
/sysroot
/iso_root
/nyaux.iso
/initramfs.tar
/.vscode
/.jinx-cache
/.cache
/compile_commands.json
/kernel/cc-runtime
/kernel/freestnd-cxx-hdrs
/kernel/.cache
/kernel/subprojects/cc-runtime
/kernel/subprojects/freestnd-c-hdrs
/kernel/subprojects/frigg
/kernel/subprojects/freestnd-cxx-hdrs
/kernel/subprojects/uacpi
/ovmf
*.hdd
*.elf
*.bin
*.a
*.o
/NyauxKC-*.iso